/* poppins-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/poppins-v21-latin/poppins-v21-latin-200.woff2")
    format("woff2");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/poppins-v21-latin/poppins-v21-latin-regular.woff2")
    format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/poppins-v21-latin/poppins-v21-latin-600.woff2")
    format("woff2");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --primary-font-color: #4c4e61;
  --secondary-font-color: #a3a5ae;
  --background-color: #fafafa;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-font-color);
}
main {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
